.container {
    
    
    height: 100vh;  
    width: 100%;  
    
    //background-image: url("../../public/mosaic_5x5.png");
    background-repeat: repeat;
    
    
}

.imageStack {
    

    display: grid;
    place-content: center;
    height: 100vh;
    
}



.backgroundImg {
    position:fixed;
    z-index: 0;
    margin:auto;
    transform: scale(1.05);
    
}


.logoImg {
    position:relative;
    
    
    z-index: 2; 
    width: 300px;
    height: 300px;    
    
    

    animation: logoScale 1.1s ease-in-out;
    
    
    
}

@keyframes logoScale {
    0%{
        opacity: 0;
        transform: scale(0)
    }
    70%{
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}