


.mainContainer {
    padding: 4rem 4rem 3rem 4rem;
    position: relative;
    z-index: 1;
    background-color: #aa0000;
    width: 80%;
    height: 520px;
    text-align: center;
    color: rgb(228, 228, 228);
    background-image: url('../../../public/newBG_black_fade.png'); 
    box-shadow:10px 10px 10px black; 
    margin: auto;
    border-radius: 60px;
}

// .mainContainer::before {
//     content: "";
//     background-image: url('../../../public/newBG_black_fade.png');    
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     opacity: 0.3;
// }