.footerContainer {
    padding-top: 2rem;      
    position:relative; 

    height: 21rem;
    width: 80%;   
    color: white;
    border-top-left-radius: 60px;  
    border-top-right-radius: 60px; 
    
    margin: auto;

    background-color: #272727;

    box-shadow:10px 10px 30px black; 

    
    

    .spanContainer {
        text-align: center;
        padding-top: 2rem;

        span {
            font-size: 10px;
        }
    }
    
    .wrapper {

        
        padding-top: 2rem;
        border-bottom: 2px solid white;
        width: 60%;
        margin-right: auto;
        margin-left: auto;

        .address {
            text-align: center;
            padding-bottom: 0.5rem;
            
            span {
                font-size: 18px;
            }
        }

        .contentContainer {
            padding-left: 0;
            
            //background-color: red;
    
            width:100%;
            
            margin-right: auto;
            margin-left: auto;
    
            
            display: flex;
            padding-bottom: 2rem;
            
    
            justify-content: space-between;
    
            
            .logoEndContainer {
               position: relative;           
               
                align-items: center;
                display: grid;
                //background-color: red;

                text-align: center;

               img {
                
                width: 7rem;
                height: 6rem;
                margin:auto;                
               }

               

                
            }
            
            //background-color: white;
    
            .footerLinks {
                
    
    
                div {
                    position: relative; 
                    
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;

                    justify-content: space-between;
                    //display: flex;        
                    color: white;
                    width: 200%;
                    
                    
                    //padding: 0 2rem 0 2.5rem;
                    height: 150px;
                    //background-color: white;  
                        
                    
                    
                    
                    
                    align-items: center;
                    
                }
    
                li {
                    
                    font-size: 20px;
                    list-style: none;                
                    
    
                    &:hover{    
                        transform: scale(1.1); 
                        border-bottom: 1px solid #fff;              
                    }
    
                    a{    
                        text-decoration: none !important;                     
                        
                        cursor: pointer;                   
                        
                    }
                    
                   
                }
            }
            
            .iconsContainer {
                position: relative;
                display: flex;
                float:right;
    
                
    
                
                display: grid;
                place-content: center;
                
                
                
                //background-color: white;
                
                a {
                    
    
                    img {
                        width: 3rem;
                        height: 3rem;
                        display: block;
                        padding: 0.4rem;
                        transition: 0.3s;
    
                        
                        
                        &:hover {
                            transform: scale(1.15);
                            
                        }                    
                        
                    }
                }
    
                
            }
        }
    }
    }

    

.footerContainer::before {
    
        content: "";
        background-image: url('../../../public/newBG.png');    
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
    
}


