.contatoContainer {
    display: flex;
    flex-direction: column;

    padding: 4rem 4rem 2rem 4rem;
    position: relative;
    z-index: 3;
    background-color: #aa0000;
    width: 80%;
    height: 800px;
    text-align: center;
    color: white;
    background-image: url('../../../public/newBG_black_fade.png'); 
    box-shadow:10px 10px 30px black; 
    margin: auto;
    border-radius: 60px;

    
    label {
        margin-left: 1.25rem;
        text-align: left;
        transform: translateY(0.75rem);
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        

        span {
            margin-left: 1.5rem;
        }

    }

    .errorMessage {
        color: white;
        font-size: 14px;
        
    }


    
    ul {
        li{
            margin-top: -0.75rem;
            list-style: none;
        }
    }    


    input[name=subject] {
        width: 500px;
    }


    .nameWrapper {
        
        
        display: flex;
        flex-direction: column;        
        //background-color: blue;  
        
        
        
    }

    .emailWrapper {
        
        display: flex;
        flex-direction: column;
        
        //background-color: blue;  
               
    }


    .firstRow {
        
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: flex;        
        //background-color: black;
        
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        input[name=name] {
            width: 14.7rem;
            
        }

        input[name=email] {
            width: 14.7rem;
           
        }
    }

    .secondRow {        
        
        display: flex; 
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;


        //background-color: black;

        input[name=subject] {
            width: 500px;
            
             
        }

        textarea {
            padding: 1rem;
            width: 500px;
            height: 200px;
            text-align: left;
            box-shadow:0 0 15px 4px rgba(117, 77, 77, 0.06), inset 0 0 0 1000px rgba(0,0,0,.1);
            border-radius: 5px;
            margin-left: 1rem;
            box-shadow:1px 1px 25px black; 
            resize: none;
            margin-top: 1rem;
        }

        .msgWrapper {
            display: flex;
            flex-direction: column;
        }
        
    }


    input[type=text] {        
        margin: 1rem;
        padding: 1rem;
        box-shadow:1px 1px 25px black; 
        border-radius: 5px;        
    }

    input[type=submit] {        
        
        
               
        padding: 1rem 5.5rem;
        margin-top: 2rem;
        box-shadow:5px 5px 18px black; 
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;

        transition: .2s;
        

        // background-color: #3b3b3b;
        // color: green;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            background-color: rgb(41, 163, 41);
            color: white;
            font-weight: bold;
            font-size: 18px;
        }
    }

    
}


// .contatoContainer::before {
//     content: "";
//     background-image: url('../../../public/newBG.png');    
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     opacity: 0.2;  
//     z-index: 1;  
// }





@media screen and (max-width: 800px) {
    
    .contatoContainer {

        height: 860px;
        padding: 4rem 2rem 2rem 2rem;

        input[type=text] {
            width: 22rem;
        }
        
        .firstRow {

            display: flex;
            flex-direction: column;


            input[type=text] {
                width: 22rem;
            }
        }

        .secondRow {
            input[type=text] {
                width: 22rem;
            }

            
    
            textarea {
                
                width: 22rem;
                
            }

            input[type=submit] {
                width: 22rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    
    .contatoContainer {
        width: 100%;
        border-radius: 0;
    }
    
}

@media screen and (max-width: 480px) {
    
    .contatoContainer {

        .firstRow {
            input[type=text] {
                width: 18rem;
            }
        }

        .secondRow {
            input[type=text] {
                width: 18rem;
            }

            textarea {
                width: 18rem;
            }
            input[type=submit] {
                width: 18rem;
            }
        }
        
    } 
    
}