.marcasContainer {
    width: 80%;
    height: 700px;
    background-color: #272727;
    z-index: 1;
    position: relative;    
    color: white;
    text-align: center;
    padding: 4rem 4rem 4rem 4rem;
    //background-image: url('../../../public/newBG_transparent.png'); 
    justify-content: center;   
    box-shadow:10px 10px 30px black; 
    margin: auto;

    border-radius: 60px;
     
    


    table {
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        justify-content: space-between;
        
        .firstRowWrapper {
            display: flex;
        }

        .secondRowWrapper {
            display: flex;
        }
        
        tr {
            td {
                padding: 2rem; 

                
                

                div {

                    border-radius: 25px;                    
                    box-shadow:10px 10px 25px black;   
                    transition: 0.3s; 
                    

                    

                    &:hover{    
                        
                        transform: scale(1.075);   
                    }

                    a {
                        cursor: pointer;
                        
                    }
                }
            }
        }
    }
}

.marcasContainer::before {
    content: "";
    background-image: url('../../../public/newBG.png');    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}


@media screen and (max-width: 600px) {

    .marcasContainer {
        height: 900px;


        .firstRowWrapper {
            display: flex;
            flex-direction: column;
        }

        .secondRowWrapper {
            display: flex;
            flex-direction: column;
        }
    
    }
}


@media screen and (max-width: 800px) {

    .marcasContainer {
        height: 1050px;
        padding: 2rem;

        .firstRowWrapper {
            display: flex;
            flex-direction: column;
        }

        .secondRowWrapper {
            display: flex;
            flex-direction: column;
        }
    
    }
}