.marcasContainer {
    width: 90%;
    height: 780px;
    background-color: #272727;
    z-index: 1;
    position: relative;    
    color: white;
    text-align: center;
    padding: 4rem 4rem 4rem 4rem;
    //background-image: url('../../../public/newBG_transparent.png'); 
    justify-content: center;   
    box-shadow:10px 10px 10px black; 
    margin: auto;

    border-radius: 25px;
     
    


    table {
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        justify-content: space-between;
        
        
        tr {
            td {
                padding: 2rem; 

                div {

                    border-radius: 25px;                    
                    box-shadow:10px 10px 25px black;   
                    transition: 0.3s; 
                    
                    &:hover{    
                        
                        transform: scale(1.075);   
                    }

                    a {
                        cursor: pointer;
                        
                    }
                }
            }
        }
    }
}

.marcasContainer::before {
    content: "";
    background-image: url('../../../public/newBG.png');    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}